[submodule "worlds/tloz_kinomi/common"]
	path = worlds/tloz_kinomi/common
	url = https://github.com/Ishigh1/tloz_oo-common
[submodule "worlds/tloz_kinomi/disasembly"]
	path = worlds/tloz_kinomi/disasembly
	url = https://github.com/josephanimate2021/oracles-disasm
	branch = birthday-rebase
